<div class="container">
    <div class="card">
        <h5 class="card-header">{{user.username}} on {{created_at}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{post_text}}</p>
            <a href="/post/{{id}}" class="btn btn-primary">{{comments.length}} comment(s)</a>
        </div>
    </div>
</div>
