<div class="container">
    {{> post-info post }}
    {{#if loggedIn}}
        <form id="commentForm" class="card">
            <h5 class="card-header">Add A Comment!</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <textarea id="commentFormText" name="comment-body"></textarea>  
                </li>
                <li class="list-group-item">
                    <button id="commentFormBtn" type="submit" class="btn btn-primary">add comment</button>
                </li>
            </ul>
        </form>
    {{/if}}
</div>

{{#if post.comments.length}}
    <div class="container">
        <h4>{{format_plural "Comment" post.comments.length}} on {{post.title}}</h4>
        {{#each post.comments}}
            <div class="card">
                <h5 class="card-header">{{user.username}} on {{format_date created_at}}</h5>
                <div class="card-body">
                    <p>{{comment_text}}</p>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}
{{#if loggedIn}}
    <script src="/javascript/comment.js"></script>
{{/if}}


